<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12 Column Grid</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="grid-container">
        <h1>Digital Marketing</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <main class="grid-container">
        <img src="https://fastly.picsum.photos/id/164/700/400.jpg?hmac=pCG3r417mfbAnReJ4mGJ3V4-KoP3BhSY17J9NShzEEs" alt="Lorem Picsum">
        <div class="welcome">
            <h2>Welcome</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta explicabo, iure in laudantium ratione vitae beatae sunt voluptate sed suscipit vero officiis aut obcaecati mollitia. Labore deleniti architecto neque ipsam voluptatum. Ipsam, error esse. Iusto non fugiat dignissimos perspiciatis quasi, nobis, assumenda iste nisi sit quo necessitatibus voluptate mollitia unde.</p>
        </div>
        <h2>Services</h2>
        <div class="card">
            <h3>Hello</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur atque quos accusamus quae facilis aspernatur perferendis recusandae? Alias, ipsam.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur atque quos accusamus quae facilis aspernatur perferendis recusandae? Alias, ipsam.</p>
        </div>
        <div class="card">
            <h3>Hello</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur atque quos accusamus quae facilis aspernatur perferendis recusandae? Alias, ipsam.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur atque quos accusamus quae facilis aspernatur perferendis recusandae? Alias, ipsam.</p>
        </div>
        <div class="card">
            <h3>Hello</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur atque quos accusamus quae facilis aspernatur perferendis recusandae? Alias, ipsam.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur atque quos accusamus quae facilis aspernatur perferendis recusandae? Alias, ipsam.</p>
        </div>
    </main>
    <footer>
        <p>
            Copyright © 2024 | Designed & Developed in India by Karan Shergill
        </p>
    </footer>
</body>
</html>